<!DOCTYPE html>

<html lang="en">

<head>

```
<meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<title>AI Sales Intelligence</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet">

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">
```

</head>

<body>

<div class="wrapper">

```
<!-- Sidebar -->

<div class="sidebar">

    <div class="logo">

        <h3>
            <i class="bi bi-cpu"></i>
            AI Sales
        </h3>

    </div>

    <ul>

        <li>
            <a href="/dashboard">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="/products">
                <i class="bi bi-box-seam"></i>
                Products
            </a>
        </li>

        <li>
            <a href="/customers">
                <i class="bi bi-people"></i>
                Customers
            </a>
        </li>

        <li>
            <a href="/inventory">
                <i class="bi bi-stack"></i>
                Inventory
            </a>
        </li>

        <li>
            <a href="/sales">
                <i class="bi bi-cart-check"></i>
                Sales
            </a>
        </li>

        <li>
            <a href="/forecast">
                <i class="bi bi-graph-up-arrow"></i>
                Forecast
            </a>
        </li>

        <li>
            <a href="/profit_prediction">
                <i class="bi bi-cash-stack"></i>
                Profit AI
            </a>
        </li>

        <li>
            <a href="/segmentation">
                <i class="bi bi-diagram-3"></i>
                Segmentation
            </a>
        </li>

        <li>
            <a href="/recommendation">
                <i class="bi bi-stars"></i>
                AI Insights
            </a>
        </li>

        <li>
            <a href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                Logout
            </a>
        </li>

        <li>
             <a href="/low_stock">

                 <i class="bi bi-exclamation-triangle-fill"></i>

                Low Stock Alerts

            </a>
       </li>

        <li>

             <a href="/forecast">

                 <i class="bi bi-graph-up-arrow"></i>

                AI Forecast

            </a>

        </li>

         <li>

             <a href="/assistant">

                 <i class="bi bi-robot"></i>

                AI Assistant

            </a>

        </li>

         <li>

             <a href="/reports">

                 <i class="bi bi-file-earmark-bar-graph"></i>

                 Reports Center

            </a>

        </li>

    </ul>

</div>

<!-- Main Content -->

<div class="main-content">

    <div class="topbar">

        <h2>
            AI Sales Intelligence Platform
        </h2>

    </div>

    <div class="content-area">

        {% block content %}
        {% endblock %}

    </div>

</div>
```

</div>

</body>

</html>
