{% extends 'base.html' %}

{% block content %}

<h2>

```
Low Stock Alerts
```

</h2>

<div class="card p-4">

```
<table class="table table-striped">

    <tr>

        <th>ID</th>
        <th>Product</th>
        <th>Stock</th>
        <th>Reorder Point</th>

    </tr>

    {% for item in items %}

    <tr>

        <td>{{ item[0] }}</td>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>
        <td>{{ item[3] }}</td>

    </tr>

    {% endfor %}

</table>
```

</div>

{% endblock %}
