{% extends 'base.html' %}

{% block content %}

<h2>Sales Transactions</h2>

<a href="/add_sale"
class="btn btn-primary mb-3">

Add Sale

</a>

<table class="table table-striped">

<tr>

<th>ID</th>
<th>Product</th>
<th>Customer</th>
<th>Qty</th>
<th>Revenue</th>
<th>Date</th>
<th>Action</th>

</tr>

{% for s in sales %}

<tr>

<td>{{s[0]}}</td>
<td>{{s[1]}}</td>
<td>{{s[2]}}</td>
<td>{{s[3]}}</td>
<td>₹{{s[4]}}</td>
<td>{{s[5]}}</td>

<td>

<a href="/delete_sale/{{s[0]}}"
class="btn btn-danger">

<a href="/sales"
class="list-group-item">
Sales
</a>

<a href="/analytics"
class="list-group-item">
Analytics
</a>

Delete

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}